form {
    font-family: Montserrat, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
pre {
	font-family: monospace;
	font-size: 10pt;
}
code.xml {
    font-family: monospace;
}
span.r { color: red; }
span.b { color: blue; }
span.tt { font-family: monospace; }
.m { background: #ffe96c; }
.item { white-space: nowrap; display: inline;  }
.top-buffer { margin-top:10px; }
